header{
    background-color: rgb(151, 131, 106);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

section{
    background-color: blueviolet;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

footer{
    background-color: rgb(195, 195, 195);
    text-align: center;
    padding: 10px;
}